body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c2929;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.content {
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #555;
    margin-bottom: 20px;
}

.button {
    background-color: #050505;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2c2d2c;
}
